{"filter":false,"title":"Elasticache-snapshot.template","tooltip":"/aws-cloudformation-templates/aws/services/CloudFormation/Elasticache-snapshot.template","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1563726250787,"hash":"3921b4a7809749fe628387229c0ea6f5389dda21"}