{"filter":false,"title":".gitignore","tooltip":"/aws-cloudformation-templates/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1563676820512,"hash":"465a1e5fa95ffafee1b2b340e170d8e0fcf2659e"}